In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("C:\\Users\\Admin\Searches\Downloads\\archive\\Sales Dataset.csv", parse_dates=['Date'], dayfirst=True)

# Display stats
print(f"Columns: {df.shape[1]}, Rows: {df.shape[0]}")
print(df.head())

# Extraction message
print(f"Extracted {len(df)} rows fully.")

Columns: 8, Rows: 1000
   Unnamed: 0       Date  Gender  Age Product Category  Quantity  \
0           0 2023-11-24    Male   34           Beauty         3
1           1 2023-02-27  Female   26         Clothing         2
2           2 2023-01-13    Male   50      Electronics         1
3           3 2023-05-21    Male   37         Clothing         1
4           4 2023-05-06    Male   30           Beauty         2

   Price per Unit  Total Amount
0              50           150
1             500          1000
2              30            30
3             500           500
4              50           100
Extracted 1000 rows fully.

C:\Users\Admin\AppData\Local\Temp\ipykernel_22188\2439336308.py:4: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df = pd.read_csv("C:\\Users\\Admin\Searches\Downloads\\archive\\Sales Dataset.csv", parse_dates=['Date'], dayfirst=True)

In [2]:
from datetime import datetime

# Load last extraction time
try:
    with open('last_extraction.txt', 'r') as f:
        last_extraction = pd.to_datetime(f.read().strip())
except FileNotFoundError:
    # Default to old date if file not found
    last_extraction = pd.to_datetime('2000-01-01 00:00:00')

# Filter new or updated records
new_data = df[df['Date'] > last_extraction]

# Show new rows
print(new_data)

print(f"Extracted {len(new_data)} rows incrementally since last check.")

Empty DataFrame
Columns: [Unnamed: 0, Date, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []
Extracted 0 rows incrementally since last check.

In [3]:
# Save current timestamp to file
now = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

with open('last_extraction.txt', 'w') as f:
    f.write(now)

print(f"Saved new extraction timestamp: {now}")

Saved new extraction timestamp: 2025-06-29 19:05:09

Full Transformation

In [4]:
# fully transforming data

# Copying full data
df_full = df.copy()

In [5]:
# 1. Cleaning
print("the sum of duplicates is: ", df_full.duplicated().sum())
df_full.drop_duplicates(inplace=True)
df_full.fillna({'quantity': 0, 'unit_price': 0}, inplace=True)

the sum of duplicates is:  0

In [7]:
# 2. Enrichment
df_full['Total_value'] = df_full['Quantity'] * df_full['Price per Unit']

In [16]:
# 3. Structural
df_full['Date'] = pd.to_datetime(df_full['Date'])

In [15]:
# Saving transformed full data
df_full.to_csv('transformed_full.csv', index=False)
print("Full data transformed and saved to transformed_full.csv")

Full data transformed and saved to transformed_full.csv

In [14]:
df_full.head(5)

,Unnamed: 0,Date,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,Total_value,DAte
0,0,2023-11-24,Male,34,Beauty,3,50,150,150,2023-11-24
1,1,2023-02-27,Female,26,Clothing,2,500,1000,1000,2023-02-27
2,2,2023-01-13,Male,50,Electronics,1,30,30,30,2023-01-13
3,3,2023-05-21,Male,37,Clothing,1,500,500,500,2023-05-21
4,4,2023-05-06,Male,30,Beauty,2,50,100,100,2023-05-06

Incremental Transformation

In [17]:
# Transform Incremental Data

# Copy of incremental data
df_incr = new_data.copy()

# 1. Cleaning
df_incr.drop_duplicates(inplace=True)
df_incr.fillna({'quantity': 0, 'unit_price': 0}, inplace=True)

In [18]:
# 2. Enrichment
df_incr['Total_value'] = df_incr['Quantity'] * df_incr['Price per Unit']

In [19]:
# 3. Structural
df_incr['Updated_at'] = pd.to_datetime(df_incr['Date'])

In [20]:
# Save transformed incremental data
df_incr.to_csv('transformed_incremental.csv', index=False)
print("Incremental data transformed and saved to transformed_incremental.csv")
df_incr.head(5)

Incremental data transformed and saved to transformed_incremental.csv

Empty DataFrame
Columns: [Unnamed: 0, Date, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount, Total_value, Updated_at]
Index: []